.footer-div{
    text-align: center;
    background-color: #645fe8;
    padding-top: 10px;
    color: white;
    margin: 30px 0;
}

.contact{
    display: inline-flex;
    gap: 50px;
}

.signe{
    text-align: center;
    font-size: 80%;
    color: #575757;
}