.footer-div{
    text-align: center;
    background-color: #332cf2;
    padding-top: 10px;
    color: white;
    margin: 60px 0;
}

.contact{
    display: inline-flex;
    gap: 50px;
}

.signe{
    font-size: 80%;
    color: darkgrey;
}